body,html{
    margin: 0;
    padding: 0;
    font-family: 'Sarabun';
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
    list-style-type: none;

    padding: 10px 12px;

  }
  
  li a {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  
  .pre-search-input{
    background:#f5f5f5;
    padding:8px 48px;
    border: none;
    border-radius: 15px;
  }

  .headline-5{
    font-weight:500;
    font: size 1rem;;
    line-height: 1.5;
  }

.container{
    padding: 2rem;
}

.main-img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 650px;
}

.carousel {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

.carousel .slide {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.hit-section{
    display: flex;    
    
}

.hit-section .item{
    flex-grow: 1;
    padding: 1rem;
   
}

.footer{
    background:#000;
    padding:30px 0px;
    margin: auto;
}
    
.footer .column{
    width:20%;
    margin:0% 1%;
    display:inline-block;
}
    

